<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pwabuilder-manifest-creator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fd642677-2fa9-4d8a-8b25-788656871b24/resourcegroups/pwabuilder-site-prod/providers/Microsoft.Web/sites/pwabuilder-manifest-creator</ResourceId>
    <UserName>$pwabuilder-manifest-creator</UserName>
    <_SavePWD>True</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://pwabuilder-manifest-creator.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>